/* * Importar fuente Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  background-color: #3d534f;
  color: #757b7f;
  font-family: "Space Grotesk", monospace;
  margin: 0;
  height: 97vh;
  width: 100%;
}

/* * NAV */
#nav {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  height: 15%;
}

a {
  text-decoration: none;
}

#nav-left, #nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  padding-right: 20px;
  color: #daefe1 !important;
}

#logo {
  width: 50px;
}

.icon {
  color: #757b7f;
}

.icon:hover {
  color: #daefe1;
}

/* * CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 1.7em;
  color: #ace3bb;
  text-shadow: #6c9c7c 0px 0px 10px;
}

.row, .rankingRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.36);
  border-radius: 10px;
}

.rankingRow {
  width: 80%;
}

.time, .rankingTime {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 3em;
}

.textButton {
  cursor: pointer;
  padding: 1em;
  background-color: transparent;
  color: #757b7f; 
  border: none;
  font-size: 1em;
}

.textButton:hover {
  color: #daefe1;
}

.active {
  color: #ace3bb;
}

.spacer {
  background-color: #757b7f;
  width: 0.2em;
  height: 1.2em;
  border-radius: 10px;
  cursor: default;
}

/* * LANGUAGE */
#language {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#language > .textButton {
  font-size: 1.2em;
  padding: 0.5em 1em;
}

/* * TYPING TEST & RANKING TABLE */
#typingTest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  max-width: 100%;
  opacity: 1;
}

.startButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  font-family: "Space Grotesk", monospace;
  padding: 10px 40px;
  background-color: rgba(0, 0, 0, 0.36);
  color: #ace3bb;
  border: none;
  border-radius: 10px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
}

.startButton:hover {
  text-shadow: #daefe1 0px 0px 10px;
}

.startButton:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

input {
  position: absolute;
  top: -1000px;
}

#progress {
  height: 10px;
  width: 100%;
  background-color: #6c9c7c;
}

#progress > div {
  height: 10px;
  background-color: #ace3bb;
}

#currentWord {
  position: absolute;
  top: 50%;
}

.currentLetter {
  color: #87c39b;
}

#correct, #incorrect, #ppm {
  margin: 13px 0;
}

.completeTime {
  animation-name: completeProgress;
  animation-duration: var(--time);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

#rankingTable {
  margin: 0 auto;
  width: 80%;
}

#rankingTable table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2em;
}

#rankingTable th {
  padding: 10px 0;
  color: #daefe1;
  border: 5px double #6c9c7c;
  border-top: none;
}

#rankingTable td {
  text-align: center;
  border: 5px double #6c9c7c;
  border-top: none;
  border-bottom: none;
  padding: 10px 0;
}

@keyframes completeProgress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.dissapear {
  font-size: 2rem;
  position: absolute;
  animation-name: dissapear;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes dissapear {
  0% {

  }
  50% {
    color: #757b7f;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
    font-size: 1rem;
  }
}

#end {
  margin-top: 5%;
}

/* * FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.keyTips {
  text-align: center;
  line-height: 2em;
  font-size: 0.9em;
}

.keyTips > key {
  background-color: #757b7f;
  color: #3d534f;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 5px;
}

.text {
  font-size: 0.9em;
  padding: 0;
}

.text:hover {
  color: #daefe1;
}

.leftright {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.left, .right {
  display: flex;
  padding: 0;
  align-items: center;
}

.left > .textButton, .right > .textButton {
  display: flex;
  font-size: 1em;
  gap: 5px;
}



/* * MEDIA QUERIES */
@media (max-width: 1414px) {
  .row {
    width: 80%;
  }
}

@media (max-width: 1414px) {
  .rankingTime {
    gap: 2em;
  }
}

@media (max-width: 909px) {
  .rankingTime {
    gap: 1em;
  }
}

@media (max-width: 888px) {
  .time {
    gap: 2em;
  }
}

@media (max-width: 740px) {
  .time {
    gap: 1em;
  }
}

@media (max-width: 695px) {
  .rankingTime {
    gap: 0;
  }
}

@media (max-width: 580px) {
  .time {
    gap: 0.5em;
  }
  .text {
    display: none;
  }
}

@media (max-width: 500px) {
  .time {
    gap: 0;
  }
  .textButton {
    padding: 1em 0.8em;
  }
  .rankingTime .textButton {
    padding: 1em 0.4em;
  }
  .rankingTime .spacer {
    width: 1px;
  }
}
